<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </style>
    <script>
        function getE(id) {
            return document.getElementById(id)
        }
    </script>
    <link rel="stylesheet" href="/styles.css">
</head>


<body>
    {{#each data.com}}
<div class="row">
    <div class="col-sm-1" style="margin-top: 5px;">
        <figure>
            {{#if imageBase64}}
            <img src="data:image/png;base64,{{imageBase64}}" class="img-circle avatar"
                alt="Profile Photo" style="border-radius: 50%; margin-right:8px" width="7%">
            {{else}}
            <img src="/Deafult-Profile-Pitcher.png" class="img-circle avatar" alt="Profile Photo"
                style="border-radius: 50%; margin-right:8px" width="7%">
            {{/if}}
    </div>
    <div class="col-sm-8" style="margin-top: 10px;">
        <blockquote class="blockquote">
            <p style="text-align: justify;font-family:Verdana, sans-serif; font-size:17px;text-align:left">{{comment}}
            </p>
    </div>
    </blockquote>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <figcaption class="blockquote-footer">
            {{userID.name}}
        </figcaption>
    </div>
    <div class="col-sm-5"></div>
    </figure>
</div>
<hr style="width: 50%;">
<div class="row">
    <div class="col-sm-1" style="margin-top: 5px;">
        <figure>
            {{#if imageBase64}}
            <img src="data:image/png;base64,{{imageBase64}}" class="img-circle avatar"
                alt="Profile Photo" style="border-radius: 50%; margin-right:8px" width="7%">
            {{else}}
            <img src="/Deafult-Profile-Pitcher.png" class="img-circle avatar" alt="Profile Photo"
                style="border-radius: 50%; margin-right:8px" width="7%">
            {{/if}}
    </div>
  <div class="well well-lg">
    <h4 class="media-heading text-uppercase reviews">{{userID.name}} </h4>
    <p class="media-comment">
      {{comment}}
    </p>
  </div>
</div>
</body>

</html>