<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link text-white" style="text-align: center;" aria-current="page" href="/articles">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"style="text-align: center;" href="/catagories">Catagories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"style="text-align: center;" href="/articles/form">Write an Article</a>
                        </li>
                        {{#if session.user}}
                        <li class="nav-item">
                            <a class="nav-link text-white" style="text-align: center;"href="/users/editUser">My Profile</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link text-white"style="text-align: center;" href="/users">Register</a>
                        </li>
                        {{/if}}
                        {{#if session.user}}
                        <li class="nav-item">
                            <a class="nav-link btn-danger btn text-white" href="/users/logout">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link btn-dark btn text-white"href="/users/login">Login</a>
                        </li>
                        {{/if}}
                    </ul>
      
    </div>
  </div>
</nav>
  

</body>
</html>

