<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form action="/users/verifyMail" method="post" style="margin-top: 6%;">
            <br>
            <h2 style="text-align: center;"><b>Confirm Mail</b></h2>
            <div class="container">
                <input type="text" placeholder="Enter Your Registered E-mail" name="mail" {{#if
                    msg}}class="form-control is-invalid" {{/if}} required>
                <div class="invalid-feedback">
                    {{msg}}
                </div><br>
                <p style="color: gray;font-family: Times New Roman, Times, serif;;font-size: 15px;">
                    Note: A code will be sent to this E-mail.</p>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <input type="submit" class="btn-dark" name="submit" value="Send E-mail">

            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>