<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h4 style="font-family:Garamond, serif;text-align:center">Forgot Password</h4>
        <form action="/users/forgotPassword" method="post" style="margin-top: 6%;">
            <div class="container">
                <input type="hidden" name="id" value="{{user.id}}">
                <input type="text" name="code" value="{{user.code}}"
                {{#if user.codeNotValid}}class="form-control is-invalid" {{/if}}
                {{#if user.codeValid}}class="form-control is-valid"{{/if}}
                    class="form-control-sm" placeholder="Enter The Provided Code" required>
                <input type="password" name="password" 
                {{#if user.msg}}
                class="form-control is-invalid"
                {{/if}}
                class="form-control-sm" placeholder="New Password" id="password"
                    required>

                <input type="password" name="confirmPass" 
                {{#if user.msg}}
                class="form-control is-invalid" 
                {{/if}}
                class="form-control-sm" placeholder="Confirm New Password"
                    required>
                <div class="invalid-feedback">
                    {{user.msg}}
                </div>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <input type="submit" class="btn btn-sm btn-dark" name="submit" value="Submit">
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>