@media (min-width: 992px) {
    .external-collapse.navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
      
    .cancelbtn {
        width: 100%;
    }
}


    .pb-cmnt-textarea {
        resize: none;
        padding: 10px;
        width: 100%;
        border: 1px solid #F2F2F2;
    }

    .media-body { position: relative; }
    .media-heading { padding-left: 6px; }
    .reviews {
    color: #555;  
    font-size:large;  
    font-weight: bold;
    margin: 10px auto 20px;
}
.media-comment { margin-bottom: 20px; }

